server.port=8081 
server.servlet.context-path=/dev-express
spring.mvc.view.prefix=/WEB-INF/jsp/
spring.mvc.view.suffix=.jsp
spring.profiles.active=@spring.profiles.active@
spring.jpa.hibernate.ddl-auto=none
logging.pattern.console=%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n
mybatis.mapper-locations=classpath*:/mappers/*.xml
spring.datasource.url=<%= @config['spring_datasource_url'] %>
spring.datasource.username=<%= @config['spring_datasource_username'] %>
spring.datasource.password=<%= @config['spring_datasource_password'] %>
spring.datasource.driver-class-name=oracle.jdbc.driver.OracleDriver
soap.authorization=<%= @config['posdm-consulta-code'] %>
soap.url=<%= @config['posdm-consulta-address'] %>
email.url=<%= @config['email-envio-address'] %>
posdm-consulta-user-name=<%= @config['posdm-consulta-user-name'] %>
posdm-consulta-password=<%= @config['posdm-consulta-password'] %>
url-back-dev-express=<%= @config['url-back-dev-express'] %>
